<mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"> Usuário </mat-label>
<mat-form-field appearance="outline" class="w-100" color="primary">
	<input matInput [(ngModel)]="usuario" />
</mat-form-field>

<mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"> Senha </mat-label>
<mat-form-field appearance="outline" class="w-100" color="primary">
	<input matInput type="password" [(ngModel)]="senha" />
</mat-form-field>

<button mat-flat-button color="primary" class="w-100" *ngIf="!carregando" (click)="entrar()">ENTRAR</button>

<app-carregando *ngIf="carregando"></app-carregando>
