<div class="card grd-card">
	<div class="card-body">
		<div class="media align-items-center">
			<div class="media-body me-2">
				<h2 class="text-white font-w600">{{ total | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</h2>
				<span class="text-white">Receita Total</span>
			</div>
			<div class="d-inline-block position-relative donut-chart-sale" style="margin-right: 10px;">
				<small class="text-primary">
					<i class="fa fa-money-bill" aria-hidden="true"></i>
				</small>
				<span class="circle bg-white"></span>
			</div>
		</div>
	</div>
</div>