<app-titulo titulo="Dashboard"></app-titulo>

<div class="row">
	<!-- <div class="col-12 py-2">
		<app-card-saldo-wallet />
	</div> -->
	<div class="col-12 col-md-6 py-2">
		<app-card-total-usuario />
	</div>
	<div class="col-12 col-md-6 py-2">
		<app-card-total-ativo />
	</div>
	<div class="col-12 col-md-6 py-2">
		<app-card-total-inativo />
	</div>
	<div class="col-12 col-md-6 py-2">
		<app-card-total-receita />
	</div>
	<div class="col-12 col-md py-2">
		<app-card-total-rendimento />
	</div>
	<div class="col-12 mt-4">
		<app-card-anual />
	</div>
</div>